<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="maindiv" [ngStyle]="{ 'background-color': isDarkTheme ? '#161616' : 'white' }">

        <div class="videoplayer">

            <!-- video player -->
            <div class="image-container" *ngIf="showVideo">

                <vg-player [class.hovered]="isHovered" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
                    (onPlayerReady)="onPlayerReady($event)"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px;">
                    <vg-overlay-play *ngIf="!isradarvisible"></vg-overlay-play>
                    <vg-buffering vgFor="singlevideo"></vg-buffering>

                    <!-- Custom buttons for zoom in and zoom out -->
                    <div class="customvgbtns" [@fadeInOut]="isHovered ? 'in' : 'out'" class="customvgbtns"
                        *ngIf="isHovered"
                        style="position: absolute; bottom: 0.1px; z-index: 999;display: flex;justify-content: space-between;">
                        <button title="Port side view" *ngIf="isZoomin" (click)="Leftvideo()"> <img
                                src="assets/icons/iconsbuttons/SI_Cameras.png" alt=""></button>

                        <button title="ECDIS information"
                            style="font-family:monospace;display: flex;align-items: center;" *ngIf="isZoomin"
                            (click)="ecdis()"><img src="assets/icons/iconsbuttons/SI_ECDIS.png" alt=""></button>



                        <button title="Binocular view" style="font-family:monospace;display: flex;align-items: center;"
                            *ngIf="isZoomin" (click)="zoomIn()"><img src="assets/icons/iconsbuttons/SI_Binacular.png"
                                alt=""></button>


                        <button title="Top view (From Monkey Island)"
                            style="font-family:monospace;display: flex;align-items: center;" *ngIf="isZoomin"
                            (click)="monkeyview()"><img src="assets/icons/iconsbuttons/SI-09.png" alt=""></button>

                        <button title="Stern view" style="font-family:monospace;display: flex;align-items: center;"
                            *ngIf="isZoomin" (click)="backviewcamera()"><img src="assets/icons/iconsbuttons/SI-08.png"
                                alt=""></button>

                        <button title="Objectives" style="font-family:monospace;display: flex;align-items: center;"
                            *ngIf="isZoomin" (click)="objective()"><img
                                src="assets/icons/iconsbuttons/SI_Objectives.png" alt=""></button>

                        <button title="Radar information"
                            style="font-family:monospace;display: flex;align-items: center;" *ngIf="isZoomin"
                            (click)="Radar()"><img src="assets/icons/iconsbuttons/SI_RADAR.png" alt=""></button>

                        <button title="Startboard side view"
                            style="font-family:monospace;display: flex;align-items: center;" *ngIf="isZoomin"
                            (click)="rightvideo()"><img src="assets/icons/iconsbuttons/SI-06.png" alt=""></button>



                        <button title="Bridge view" style="font-family:monospace;display: flex;align-items: center;"
                            *ngIf="isZoomout" (click)="zoomOut()"><img src="assets/icons/iconsbuttons/SI-07.png"
                                alt=""></button>
                        <button title="Bridge view" style="font-family:monospace;display: flex;align-items: center;"
                            *ngIf="isgoback" (click)="goback()"><img src="assets/icons/iconsbuttons/SI-07.png"
                                alt=""></button>




                        <!-- <button style="font-family:monospace;display: flex;align-items: center;" *ngIf="isZoomin"
                            (click)="toggleTheme()">
                            <span *ngIf="!isDarkTheme">Night Mode</span>
                            <span *ngIf="isDarkTheme">Day Mode</span>
                        </button> -->
                    </div>

                    <vg-controls [class.endFullScreen]="isradarvisible" [@fadeInOut]="isHovered ? 'in' : 'out'"
                        *ngIf="isHovered">
                        <vg-play-pause *ngIf="!isradarvisible"></vg-play-pause>
                        <!-- <vg-playback-button></vg-playback-button> -->
                        <vg-time-display *ngIf="!isradarvisible" vgProperty="current"
                            vgFormat="mm:ss"></vg-time-display>
                        <vg-scrub-bar *ngIf="!isradarvisible" style="pointer-events: none;">
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>
                        <vg-time-display *ngIf="!isradarvisible" vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <!-- <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display> -->
                        <!-- <vg-track-selector></vg-track-selector> -->
                        <vg-mute *ngIf="!isradarvisible"></vg-mute>
                        <vg-volume *ngIf="!isradarvisible"></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>

                    <video *ngIf="!isradarvisible" [vgMedia]="$any(videoPlayer)" #videoPlayer id="singlevideo" preload
                        crossorigin>
                    </video>
                    <video *ngIf="isradarvisible" [poster]="radarImage" [vgMedia]="$any(videoPlayer1)" #videoPlayer1
                        id="singlevideo1" preload crossorigin>
                    </video>
                </vg-player>

            </div>


            <!-- rewatch video -->

            <div class="image-container" *ngIf="showRewatchandAssessment">
                <div class="overlayCourse"></div>
                <img src="assets/images/end.jpg" alt="" style="position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               object-fit: cover;
               height: 100%;border-radius: 10px;">


                <div class="rewatch-video-container">
                    <button nzTooltipTitle="Rewatch" (click)="rewatchVideo()" class="start-button3"
                        style="background-color: transparent;">
                        <img src="assets/icons/refresh.svg" alt="" />
                    </button>
                </div>

                <div class="assesment-button-container">
                    <button (click)="StartAssesment()" class="start-button4">
                        Start Assesment
                    </button>
                </div>

                <!-- <div class="nextButton">
                    <button (click)="playNextVideo()"><span nz-icon nzType="right" nzTheme="outline"
                            style="color: #fff"></span></button>


                </div> -->

            </div>


        </div>



        <div class="contentlist" [ngStyle]="{ 'background-color': isDarkTheme ? '#161616' : 'white' }">
            <h3 style="font-size: 20px;font-weight: 700;">Course Content</h3>



            <div *ngFor="let video of dayVideoArray" class="coursecontentcard" [class.disabled]="video.isDisabled"
                (click)="loadVideo(video)" [ngStyle]="{ 'background-color': isDarkTheme ? '#161616' : 'white' }">
                <div style="width: 40%;display: flex;align-items: center;justify-content: start;">
                    <video style="height: 90px;width: 250px;object-fit: cover;" [src]="video.src"></video>
                </div>

                <div style="width: 50%;display: flex;align-items: start;flex-direction: column;">
                    <h3 style="font-weight: 700;">{{video.videotitle}}</h3>
                    <div style="width: 100%;">
                        <div style="display: flex;justify-content: space-between;">
                            <div style="color: #828282;
                                            font-size: 12px;
                                            font-family: Calibri;
                                            font-weight: 400;">Progress</div>
                            <div>{{video.progressPercentage}} %</div>
                        </div>

                        <nz-progress style="height:80%; margin-bottom: 10px;" nzSize="small"
                            [nzStrokeColor]="{ '0%': '#3194A0', '100%': '#3194A0' }"
                            [nzPercent]="video.progressPercentage" [nzShowInfo]="false"></nz-progress>
                    </div>
                    <span style="color: red;" *ngIf="!video.isAssessmentCompleted && !video.isDisabled">Assessment
                        Pending</span>
                    <span style="color:green;" *ngIf="video.isAssessmentCompleted && !video.isDisabled">Assessment
                        Completed</span>
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>




    <!-- objectives modal -->
    <nz-modal [(nzVisible)]="isObjectiveVisible" nzTitle="Objectives" nzOkText="Add" nzCancelText="Cancel"
        nzCentered=true nzWidth=100% [nzFooter]="null" (nzOnCancel)="closeobjectivemodal()">>
        <div *nzModalContent>

            <div class="result-container">
                <div class="rule-container">
                    <div class="rule-header" [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                        <h1 [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">Assessment Guidelines</h1>
                    </div>
                    <div *ngIf="index1" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation :
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <div *ngIf="index2" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation 2:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <div *ngIf="index3" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation 3:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <div *ngIf="index4" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation 4:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <div *ngIf="index5" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation 5:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <div *ngIf="index6" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation 6:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>
                    <div *ngIf="index7" class="rule-content">
                        <div style="gap: 10px;display: flex;flex-direction: column;"
                            [ngStyle]="{ 'color':isDarkTheme ? 'white': '#161616' }">
                            <div style=" display: flex; justify-content: flex-end;">

                                <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                        </h2> -->

                            </div>
                            <div>
                                <h2>Setup and Preparation 7:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser
                                        like Chrome or Firefox.
                                    </li>
                                    <li>Environment: Choose a quiet space free from interruptions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>During the Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.
                                    </li>
                                    <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                                </ul>
                            </div>
                            <div>
                                <h2>Scoring and Question Format:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Scoring Policy: Note that each attempt at answering may reduce your total score.
                                    </li>
                                    <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple
                                        Correct Answers (MCAs), and
                                        True/False questions.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Time Per Question:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Allocation: Allocated 1 minute per question for answering.</li>
                                </ul>
                            </div>

                            <div>
                                <h2>Finalizing Your Assessment:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Submission: Complete and submit all answers before time runs out.</li>
                                    <li>Confirmation: Ensure you receive a submission confirmation before exiting the
                                        assessment page.</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Ethical Conduct:
                                </h2>
                                <ul class="list-bullets">
                                    <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism
                                        will lead to
                                        disqualification.
                                    </li>
                                </ul>
                            </div>


                        </div>


                    </div>


                </div>
            </div>

        </div>


    </nz-modal>
</body>

</html>