<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="maindiv">

        <div class="videoplayer">

            <!-- video player -->
            <div class="image-container" *ngIf="showVideo">

                <vg-player [class.hovered]="isHovered" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
                    (onPlayerReady)="onPlayerReady($event)"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px;">
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering vgFor="singlevideo"></vg-buffering>

                    <!-- Custom buttons for zoom in and zoom out -->
                    <div [@fadeInOut]="isHovered ? 'in' : 'out'" class="customvgbtns" *ngIf="isHovered"
                        style="position: absolute; bottom: 0.1px; z-index: 999;display: flex;">
                        <button *ngIf="isZoomin" (click)="Leftvideo()"><span nz-icon nzType="caret-left"
                                nzTheme="fill"></span></button>

                        <button *ngIf="isZoomin" (click)="zoomIn()">Zoom In</button>
                        <button *ngIf="isZoomin" (click)="rightvideo()"><span nz-icon nzType="caret-right"
                                nzTheme="fill"></span></button>
                        <button *ngIf="isZoomout" (click)="zoomOut()">Zoom Out</button>
                        <button *ngIf="isgoback" (click)="goback()">Go Back</button>
                        <button *ngIf="isZoomin" (click)="Radar()">Radar</button>
                        <button *ngIf="isZoomin" (click)="objective()">Objective</button>
                    </div>

                    <vg-controls [@fadeInOut]="isHovered ? 'in' : 'out'" *ngIf="isHovered">
                        <vg-play-pause></vg-play-pause>
                        <!-- <vg-playback-button></vg-playback-button> -->
                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <!-- <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display> -->
                        <!-- <vg-track-selector></vg-track-selector> -->
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>

                    <video *ngIf="!isradarvisible" src="assets/videos/video1.mp4" [vgMedia]="$any(videoPlayer)"
                        #videoPlayer id="singlevideo" preload crossorigin>
                    </video>
                    <video *ngIf="isradarvisible" poster="assets/images/radar.png" [vgMedia]="$any(videoPlayer1)"
                        #videoPlayer1 id="singlevideo1" preload crossorigin>
                    </video>


                </vg-player>




            </div>
            <button (click)="getVideoProgress()">get progress</button>


            <!-- rewatch video -->

            <div class="image-container" *ngIf="showRewatchandAssessment">
                <div class="overlayCourse"></div>
                <img src="assets/images/end.jpg" alt="" style="position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               object-fit: cover;
               height: 100%;border-radius: 10px;">


                <div class="rewatch-video-container">
                    <button nzTooltipTitle="Rewatch" (click)="rewatchVideo()" class="start-button3"
                        style="background-color: transparent;">
                        <img src="assets/icons/refresh.svg" alt="" />
                    </button>
                </div>

                <div class="assesment-button-container">
                    <button (click)="StartAssesment()" class="start-button4">
                        Start Assesment
                    </button>
                </div>

                <div class="nextButton">
                    <button><span nz-icon nzType="right" nzTheme="outline" style="color: #fff"></span></button>

                    <!-- <button (click)="playNext()" class="start-button4">
                  Next
                </button> -->
                </div>

            </div>


        </div>



        <div class="contentlist">
            <h3>Course Content</h3>
        </div>
    </div>

</body>

</html>